<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "Sample test Suite">
   <test name = "Sample test1">
      <classes>
         <class name = "com.training.sanity.tests.RETC_022_ChangeRoleTest" />
      </classes>
   </test>
   
   <test name = "Sample test2">
      <classes>
         <class name = "com.training.sanity.tests.RETC_025_PropertyFilterTests" />
      </classes>
   </test>
</suite>